<h1> <%= @list.name %> movie </h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<div>
<h5><strong>Your bookmark 💛</strong></h5>
<% @list.bookmarks.each do |bookmark| %>
  <li>Movie: <%= bookmark.movie.title %></li>
  <li>Comment: <%= bookmark.comment %></li>
              <%= link_to "Delete this bookmark",
               bookmark_path(bookmark),
               data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
<% end %>
</div>
<p></p>
<div>
<span> <%= link_to "Bookmark this list", new_list_bookmark_path(@list) %> </span><br>
<span><%= link_to "Delete this list",
               list_path(@list),
               data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %></span><br>
<span> <%= link_to "Back to My list", root_path %> </span>
</div>
